
.card-tile {
  border-radius: 1rem;
  border: .0625rem solid #b5b5b5e3;
  background-color: #ffff;
}

.card-wrapper{
  display: flex;
  justify-content: space-between;
}

.profile-name {
  padding-top: 3.5rem;
  font-weight: 600;
  font-size: 18px;
}

.first-item {
  padding-bottom: 1.4rem;
  display: flex;
  padding-left: 11px;
}

.in-coming-arrow {
  color: #0f62fe;
}

.out-going-arrow {
  color: #009d9a;
}

.second-item {
  display: flex;
  padding-left: 11px;
  padding-top: 4rem;
}
